<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit {{data[list_id]["title"]}}</h1>
    <form method="post" action="/list/{{list_id}}/edit">
        <lebel for="title">Title</lebel>
        <input type="text" id="list" name="list"> <br><br>
        
        <label for="content">Content:</label><br>
        <textarea id="content" name="content"></textarea><br><br>

        <button type="submit">Save</button>
    </form>
    <a href="/">Back to list</a>
</body>
</html>